.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar .logo
{
    width: max(10% , 80px);
}

.navbar .profile
{
    width: 40px;
}