.explore-menu
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1
{
    color: #262626;
    font-weight: 500;
}

.explore-menu-text
{
    max-width: 60%;
    color: #808080;
}

.explore-menu-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar
{
    display: none;
}

.explore-menu-list-item
{
    width: 18%; /* Use percentage for flexibility */
    min-width: 100px; /* Set a minimum width */
    max-width: 150px; /* Set a maximum width */
    padding: 10px;
    background-color: #F3F3F3;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.explore-menu-list-item img
{
    width: 80%; /* Responsive image size */
    height: auto; /* Maintain aspect ratio */
    max-width: 100px; 
}

.explore-menu-list-item p
{
    text-align: center;
    font-size: 1rem; /* Responsive font size */
    margin-top: 5px;
}

.explore-menu-list-item.active
{
    border: 1px solid tomato;
}

@media(max-width: 1050px)
{
    .explore-menu h1
    {
        font-weight: 400;
        font-size: 20px;
    }

    .explore-menu-text
    {
        max-width: 100%;
        font-size: 14px;
    }

    .explore-menu-list-item
    {
        width: 30vw;
        max-width:150px;
        min-height: 150px;
        padding: 10px 0;
    }
}

